@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<body>
    <h1>Change Password</h1>
    <form id="account" method="post">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Change Password</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label asp-for="OldPassword"></label>
                            <input asp-for="OldPassword" class="input" required />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="input" required />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="input" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="group">
                            <button type="submit" class="button">Update password</button>
                        </div>
                        <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
