@model E_MailApplicationsManager.Web.Models.RegisterAccountViewModel
@{
    ViewData["Title"] = "Register";
}

<link href="~/css/dropdown.css" rel="stylesheet" />

<link href="~/css/login.css" rel="stylesheet" />
<body>
    <h1>Change Password</h1>
    <form id="account" method="post">
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Change Password</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="input" required minlenngh="3" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="input" required minlenngh="5" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="input" required minlenngh="5" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword"class="input" required/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <select id="select1" asp-for="Role">
                            <option value="Manager">Manager</option>
                            <option value="Operator">Operator</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Register</button>
                        <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>