@model RegisterAccountViewModel
@{
    ViewData["Title"] = "RegisterAccount";
}

<h1>RegisterAccount</h1>

<form asp-controller="Account" asp-action="RegisterAccount" method="post">
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <input asp-for="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button class="box" type="submit">Register</button><br />
        <strong>
            <a class="goback" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
        </strong>
    </div>
</form>