@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success alert-normal-success" hidden="hidden">
    <button type="button" class="close">×</button>
    I'm a normal success message. To close use  the appropriate button.
</div>