@inject UserManager<User> UserManager
@model NotReviewedEmailsViewModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<link href="~/css/index.css" rel="stylesheet" />
<body class="background">
    <div class="page-css">
        <div class="half">
            <div class="left-top-half">
                <img class="logo" src="~/images/tbilogo.jpg" />
            </div>
            <div class="center-top-half">
                <img class="profile-picture" src="~/images/profile_picture.png" />
            </div>
            <div class="right-top-half">
                <br />
                <h1 class="text-center" style="color:#ff6a00">Welcome!</h1>
                <br />
                <h3 class="text-center" style="color:#ff6a00">@User.Identity.Name's account</h3>
            </div>
        </div>
        @{
            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

            var currentUser = await UserManager.FindByIdAsync(userId);

            if (currentUser.FirstLog == true)
            {
                <div class="half">
                    <div class="bottom-left-half">
                        <canvas id="myChart">
                        </canvas>
                    </div>
                    <div class="bottom-right-half">
                        <img class="center" id="letter-image" src="~/images/101090_thumb.png" />
                        <br />
                        <br />
                        <h1 style="color:#ff6a00" class="text-center">You have <a style="color:blue" href=https://localhost:5001/email/emailinfomanager>@Model.NotReviewedEmails</a> emails that are not reviewed.</h1>
                    </div>
                </div>
            }
            else
            {
                <div class="top-half">
                    <div class="bottom-left-half">
                        <canvas id="myChart">
                        </canvas>
                    </div>
                    <div class="bottom-right-half">
                        <img class="center" id="letter-image" src="~/images/101090_thumb.png" />
                        <br />
                        <br />
                        <h1 class="text-center">You have 0 emails that are not reviewed.</h1>
                    </div>
                </div>
            }
        }

    </div>
    <script src="~/js/index.js"></script>
</body>