@model bool

@if (Model)
{
    <ul class="menu cf">
        <li>
            <a href="">Email Options</a>
            <ul class="submenu">
                <li>
                    <a class="nav-link text-white" asp-area="" asp-controller="Email" asp-action="Home">Search</a>
                </li>
                <li>
                    <a class="nav-link text-white" asp-area="" asp-controller="Email" asp-action="EmailInfoManager">Email List</a>
                </li>
                <li>
                    <a class="nav-link text-white" asp-area="" asp-controller="Email" asp-action="CheckMyEmail">Working On Emails</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="ListOpenStatusEmails">Status Open</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Loan" asp-action="GetAllFinishLoan">Finish Loan Applicant</a>
        </li>
        <li>
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="RegisterAccount">Register</a>
        </li>
        <li>
            <a class="nav-link  text-white" asp-area="" asp-controller="Account" asp-action="ChangeAccountPassword">Change Password</a>
        </li>
    </ul>
}
else
{
    <li>
        <a class="nav-link  text-white" asp-area="" asp-controller="Account" asp-action="ChangeAccountPassword">Change Password</a>
    </li>
}



