@model bool

@if (Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterAccount">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="Home">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="EmailInfo">Received Email List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="CheckMyEmail">Working On Email</a>
    </li>
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Email" asp-action="FillEmailForm">Fill Email Body</a>
    </li>*@
}

