@model SearchEmailViewModel
@{
    ViewData["Title"] = "CheckMyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CheckMyEmail</h1>
<div class="row">

    @foreach (var email in Model.Result)
    {
        <div class="col-8">
            <div class="row">
                <ul style="font-weight: bold" class="col-sm-2">ISBN:</ul>
                <ul class="col-sm-10">@email.GmailId</ul>
                <ul style="font-weight: bold" class="col-sm-2">Title:</ul>
                <ul class="col-sm-10">@email.Sender</ul>
                <ul style="font-weight: bold" class="col-sm-2">Author:</ul>
                <ul class="col-sm-10">@email.Subject</ul>
                <ul style="font-weight: bold" class="col-sm-2">Subject:</ul>
                <ul class="col-sm-10">@email.DateReceived</ul>
                
            </div>
        </div>
      
    }
</div>
<strong>
    <a href="javascript:history.go(-1)" title="Go to previous page" class="goback">Go back</a>
</strong>