@model EmailListViewModel
@{
    ViewData["Title"] = "EmailInfoManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Email Info</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1 class="text-center">Welcome!</h1>
    <hr />
    <div>
        @foreach (var email in Model.Emails)
        {
            <a asp-controller="Email" asp-action="DetailsManager" asp-route-id="@email.Id"><p>@email.DateReceived </p>  </a>
        }
    </div>
</body>
</html>
