@model EmailListViewModel
@{
    ViewData["Title"] = "EmailInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/images/tbilogo.jpg" alt="Sample Photo" />
<h1>Email Info</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <button type="submit" style="background-color:#34495e" class="btn btn-primary" id="refresh-email" value="click">Refresh</button>
    <hr />
    <div>
        @foreach (var email in Model.Emails)
        {
            <a asp-controller="Email" asp-action="Details" asp-route-id="@email.Id"><p>@email.DateReceived </p>  </a>
        }

     
    </div>
</body>
</html>