@model EmailBodyViewModel
@{
    ViewData["Title"] = "FillEmailForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<img src="~/images/tbilogo.jpg" class="logo" alt="Sample Photo" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body  class="background">
    <form id=""></form>
    <div class="row">
        <div class="col-6">
            <ul style="font-weight: bold" class="col-sm-2">Text:</ul>
            <ul class="col-sm-10">@Model.Body</ul>
            <br />
            <strong>
                <a style="color:#ff6a00" href="javascript:history.go(-1)" title="Go to previous page" class="goback">Go back</a>
            </strong>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <div class="col-xs-2">
                    <form action="" autocomplete="on">
                        <h5>FullName</h5>
                        <input type="text" name="name" id="fullname" class="form-control" minlength="3" required />
                        <br />
                        <h5>EGN</h5>
                        <input type="text" name="name" id="egn" class="form-control" minlength="10" maxlength="10" required />
                        <br />
                        <h5>Phone number</h5>
                        <input type="text" name="name" id="phone-number" class="form-control" minlength="8" required />
                        <br />
                        <button style="background-color:#34495e" value="@Model.GmailId" class="btn btn-primary" type="button" id="send-button">Create!</button><br />
                        <hr />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>