<img src="~/images/tbilogo.jpg" alt="Sample Photo" />
<body>
    <div class="col">
        <div class="col-6" id="fill-email">
            <h5>Search Email</h5>
            <div class="form-group row">
                <div class="col-xs-2">
                    <br />
                    <select id="search-email">
                        <option value="1">NotReviewed</option>
                        <option value="2">InvalidApplication</option>
                        <option value="3">New</option>
                        <option value="4">Open</option>
                        <option value="5">Closed</option>
                    </select>
                    <button class="btn btn-primary" type="submit" id="search-button">Search</button><br />
                    <hr />
                </div>
            </div>
        </div>
        <div class="col-6 ">

        </div>
    </div>
</body>

