<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="col">
        <div class="col-6" id="fill-email">
            <h5>Search Word</h5>
            <div class="form-group row">
                <div class="col-xs-2">
                    <input type="text" name="name" id="search-text" class="form-control" />
                    <br />
                    <button class="btn btn-primary" type="submit" id="search-button">Search!</button><br />
                    <hr />
                </div>
            </div>
        </div>
        <div class="col-6 ">

        </div>
    </div>
</body>
</html>
