<link href="~/css/dropdown.css" rel="stylesheet" />

<img src="~/images/tbilogo.png"  alt="Sample Photo" />
<body class="background">
    <div class="col">
        <div class="col-6" id="fill-email">
            <h5>Search Email</h5>
            <div class="form-group row">
                <div class="select">
                    <select id="search-email" name="slct">
                        <option selected disabled>Choose an option</option>
                        <option value="1">NotReviewed</option>
                        <option value="2">InvalidApplication</option>
                        <option value="3">New</option>
                        <option value="4">Open</option>
                        <option value="5">Closed</option>
                    </select>
                </div>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="btn btn-primary" style="background-color:#34495e" type="submit" id="search-button">Search</button>
            </div>
        </div>
        <div class="col-6 ">
        </div>
    </div>
</body>
