.page-css {
    height: 100%;
}

.half {
    height:200px;
    display: flex;
    width:1050px; 
    margin-bottom: 50px;
    justify-content:space-between;
}

.left-top-half {
    height:190px; 
    width:300px; 
    margin-bottom: 50px;
}

.center-top-half {
    height:190px; 
    width:150px; 
    margin-bottom: 50px; 
    margin-left:300px;
}

.right-top-half {
    height:190px; 
    width:300px; 
    margin-bottom: 50px; 
    margin-left:80px;
}

.bottom-right-half {
    height:300px; 
    width: 450px;
}

.bottom-left-half {
    height:300px;
    width: 450px;
}

#letter-image {
    width: 180px;
    height: 130px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
