.page-css {
    height: 100%;
}

.left {
    width: 15%;
    height: 200px;
    float: left;
}

.right {
    padding-top: 100px;
    padding-left: 250px;
    margin-left: 15%;
    height: 200px;
}

.top-half {
    height: 200px;
    display: flex;
    width: 500px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.bottom-half {
    height: 200px;
    display: flex;
    width: 500px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.left-top-half {
    height: 190px;
    width: 150px;
    margin-bottom: 50px;
}

.center-top-half {
    height: 190px;
    width: 150px;
    margin-bottom: 50px;
    margin-left: 300px;
}

.right-top-half {
    height: 190px;
    width: 260px;
    margin-bottom: 50px;
    margin-right: auto;
}

.bottom-right-half {
    border-style: solid;
    border-color:green;
    height:410px; 
    width: 450px;
}

.bottom-left-half {
    height: 300px;
    width: 450px;
}

#letter-image {
    width: 180px;
    height: 130px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
