@model E_MailApplicationsManager.Web.Models.Loan.ListStatusCloseEmailViewModel
@{
    ViewData["Title"] = "GetAllFinishLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/images/tbilogo.png" alt="Sample Photo" />
<br />
<br />
<h1>Finished Loan Applicant</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="background">
    <hr />
    <div>
        @foreach (var loan in Model.Emails)
        {
            if(loan.IsApproved == false)
            {
                <a style="color: red; text-decoration : none" asp-controller="Loan" asp-action="FinishLoanDetails" asp-route-id="@loan.Id">
                    <p>@loan.ClienName - Rejected</p>
                </a>
            }
            if(loan.IsApproved == true)
            {
                <a style="color: green;"  text-decoration : none" asp-controller="Loan" asp-action="FinishLoanDetails" asp-route-id="@loan.Id"><p>@loan.ClienName - Approved</p> </a>
            }

        }
    </div>
    <div>
        <br />
        <string>
            <a class="goback" style="color:#ff6a00" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
        </string>
    </div>
</body>
</html>
