@model E_MailApplicationsManager.Web.Models.Loan.ListStatusCloseEmailViewModel
@{
    ViewData["Title"] = "GetAllFinishLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/images/tbilogo.jpg" class="logo" alt="Sample Photo" />
<br />
<br />
<h1>Finish Loan Applicant</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="background">
    <hr />
    <div>
        @foreach (var loan in Model.Emails)
        {
            <a asp-controller="Loan" asp-action="FinishLoanDetails" asp-route-id="@loan.Id"><p>@loan.ClienName </p> </a>
        }
    </div>
    <div>
        <br />
        <string>
            <a class="goback" style="color:#ff6a00" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
        </string>
    </div>
</body>
</html>
