@model ListStatusOpenEmailsViewModel
@{
    ViewData["Title"] = "OpenStatusEmails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/images/tbilogo.png"  alt="Sample Photo" />
<br />
<br />

<h1>Open Status Emails</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="background">
    <hr />
    <div>
        @foreach (var email in Model.Emails)
        {
            <a asp-controller="Loan" asp-action="LoanEmailDetails" asp-route-id="@email.Id"><p>@email.Name </p> </a>
        }
    </div>
    <div>
        <br />
        <string>
            <a class="goback" style="color:#ff6a00" href="javascript:history.go(-1)" title="Go to previous page">Go back</a>
        </string>
    </div>
</body>
</html>
